@model RapidChef.Models.user

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registrationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit")
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
