@model RapidChef.Models.Recipe

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recipeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postedByuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postedByuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
