@model RapidChef.Models.Recipe

<div>
    <h1>@Html.DisplayFor(model => model.recipeName)</h1>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.postedByuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postedByuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePosted)
        </dd>

        <dt>
            Tags
        </dt>

        <dd>
            @if (Model.tag1 != null)
            {
                @Html.DisplayFor(model => model.tag1)
            }
        </dd>

        <dd>
            @if (Model.tag2 != null)
            {
                @Html.DisplayFor(model => model.tag2)
            }
        </dd>

        <dd>
            @if (Model.tag3 != null)
            {
                @Html.DisplayFor(model => model.tag3)
            }
        </dd>
    </dl>

    <hr />

    <h4>
        @Html.DisplayNameFor(model => model.ingrIDs)
    </h4>

    <ul>
        @foreach (string ingr in Model.ingrIDs)
        {
            if (!ingr.IsEmpty())
            {
                <li>
                    @ingr
                </li>
            }
        }
    </ul>

    <hr />

    <h4>Description</h4>

    <p>
        @Html.DisplayFor(model => model.description)
    </p>

    <hr />

    <h4>Directions</h4>

    <p>
        @Html.DisplayFor(model => model.directions)
    </p>
</div>

<hr />

<p>
    @*@if (true)*@ @* Used Exclusively for Debugging and Testing! *@
    @if ((Session["userID"] != null) && ((int?)Session["userID"] == Model.postedByuser))
    {
        <a href='@Url.Action("Edit", "Recipe", new { id = Model.recipeID})' class="btn btn-default">Edit</a>
        <a href='@Url.Action("Delete", "Recipe", new { id = Model.recipeID})' class="btn btn-default">Delete</a>

        @*@Html.ActionLink("Edit", "Edit", new { id = Model.recipeID })
            <span> | </span>
            @Html.ActionLink("Delete", "Delete", new { id = Model.recipeID })
            <span> | </span>*@
    }

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.recipeID }) |*@

    <a href='@Url.Action("Index", "Recipe")' class="btn btn-default">Back to List</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
