@model RapidChef.Models.Recipe

<div>
    <h1>@Html.DisplayFor(model => model.recipeName)</h1>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Posted by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postedByuser)
        </dd>

        <dt>
            Posted at
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePosted)
        </dd>

        <dt>
            Tags
        </dt>

        <dd>
            @if (Model.tag1 != null)
            {
                @Html.DisplayFor(model => model.tag1)
            }
        </dd>

        <dd>
            @if (Model.tag2 != null)
            {
                @Html.DisplayFor(model => model.tag2)
            }
        </dd>

        <dd>
            @if (Model.tag3 != null)
            {
                @Html.DisplayFor(model => model.tag3)
            }
        </dd>

        <dt>
            Ingredients
        </dt>

        @foreach (string ingr in Model.ingrIDs)
        {
            if (ingr != null)
            {
                <dd>
                    @Html.Display(ingr)
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.directions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
