@model IEnumerable<RapidChef.Models.Recipe>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.recipeName)</th>
        <th>@Html.DisplayNameFor(model => model.postedByuser)</th>
        <th>@Html.DisplayNameFor(model => model.datePosted)</th>
        <th>@Html.DisplayNameFor(model => model.description)</th>
        <th>@Html.DisplayNameFor(model => model.directions)</th>

        <th>
            @* Tags 1-3 *@
            Tags
        </th>

        <th>
            @* Ingredients 1-15 *@
            @Html.DisplayNameFor(model => model.ingrIDs)
        </th>

        <th></th> @* Used to hold "Edit", "Details", and "Delete" *@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recipeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postedByuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.directions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tag1)

            @Html.DisplayFor(modelItem => item.tag2)

            @Html.DisplayFor(modelItem => item.tag3)
        </td>
        <td>
            @* Print all ingredients *@
            @foreach (string ingr in item.ingrIDs)
            {
                if (!ingr.IsEmpty())
                {
                    @ingr
                    <br />
                }
            }

            @* Just print the first three ingredients *@
            @*@Html.DisplayFor(modelItem => item.ingrIDs[0])
            @Html.DisplayFor(modelItem => item.ingrIDs[1])
            @Html.DisplayFor(modelItem => item.ingrIDs[2])*@
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recipeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recipeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recipeID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New Recipe", "Create")
</p>
<p>
    @Html.ActionLink("AI Recipe", "AI Recipe")
</p>
